
<nav class="navbar navbar-expand-sm justify-content-center bg-one">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="navbar-brand" href="https://www.instagram.com">
                <img src="../../assets/images/ig-logo.png" alt="Avatar Logo" style="width:20px;">
            </a>
        </li>
    </ul>
</nav>


<div class="container-fluid bg-four text-white">
    <div class="row p-5 ms-5">
        <div class="col-sm-3 pb-3">
            <div class="h5">TERMS</div>
            General Terms of Use<br>
            Privacy Policy<br>
            Imprint<br>
        </div>
        <div class="col-sm-3 pb-3">
            <div class="h5">HELP</div>
            FAQ<br>
            How to Bid<br>
        </div>

        <div class="col-sm-3 pb-3">
            <div class="h5">CONTACT</div>
            Contact Us<br>
        </div>
        <div class="col-sm-3">
            <div class="h5">EXTRAS</div>
            Lorem<br>
            Ipsum<br>
            Dolor Sit<br>
            Adipisicing<br>
        </div>

    </div>
</div>