<body class="bg-two">
    <div style="position: relative;">
        <img src="../../assets/images/header-test2.png" class="w-100" style="height: 150px; object-fit: cover;"
            alt="contactus">
        <div
            style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; vertical-align: middle;">
            <p class="h1 text-four">Contact us</p>
        </div>
    </div>

    <div class="row mx-2 mt-4">
        <div class="col-sm-1"></div>
        <div class="col display-5 text-four">Get in touch!</div>
        <div class="col-sm-1"></div>
    </div>

    <div class="row mx-4 pb-3">
        <div class="col-sm-1"></div>
        <div class="col-sm-4 ps-4 pt-2 bg-one text-muted">
            <p class="pt-2 h4 text-four">ADDRESS</p>
            <p class="" style="font-weight: bold;">HORSE PALACE INC.</p>
            <p class="">Mouseitbeh</p>
            <p class="">
                Beirut, Next to LIU
                <br>
                Lebanon
            </p>
            <hr>
            <p class="small ps-1">
                +961-1-706881,2,3,4
                <br>
                +961-1-306044
                <br>
                horses@liu.edu.lb
            </p>
        </div>
        <div class="col-sm-6 bg-dark p-0">
            <img src="../../assets/images/maps.png" class="w-100" style="height: 300px; object-fit: cover;"
                alt="contactus">
        </div>

    </div>

    <div class="row mx-4 pb-5">
        <div class="col-sm-1"></div>
        <div class="col py-3 px-3 bg-one text-muted">

            <div class="col h3 text-four">Send a Message</div>
            <br>

            <form action="/action_page.php">
                <div class="row">
                    <div class="col form-floating mb-2">
                        <input type="text" class="form-control" id="name" placeholder="Name" name="name">
                        <label for="name">&nbsp;&nbsp;&nbsp;Name</label>
                    </div>
                    <div class="col form-floating mb-2">
                        <input type="text" class="form-control" id="email" placeholder="Email" name="email">
                        <label for="email">&nbsp;&nbsp;&nbsp;Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-floating mb-4">
                        <input type="text" class="form-control" id="phone" placeholder="Phone Number" name="phone">
                        <label for="phone">&nbsp;&nbsp;&nbsp;Phone Number</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-floating mb-2">
                        <input type="text" class="form-control" id="subject" placeholder="Subject" name="subject">
                        <label for="subject">&nbsp;&nbsp;&nbsp;Subject</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <textarea class="form-control" rows="5" id="comment" name="text" placeholder="Comment goes here . . ."></textarea>
                      </div>
                </div>
                
                <button type="submit" class="btn btn-seven rounded-0">Submit</button>
            </form>

        </div>
        <div class="col-sm-1"></div>
    </div>

</body>