<body class="bg-two">
    <div style="position: relative;">
        <img src="../../assets/images/header-test2.png" class="w-100" style="height: 150px; object-fit: cover;"
            alt="contactus">
        <div
            style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; vertical-align: middle;">
            <p class="h1 text-four">Contact us</p>
        </div>
    </div>

    <div class="row mx-2 mt-4">
        <div class="col-sm-1"></div>
        <div class="col h3">Get in touch!</div>
        <div class="col-sm-1"></div>
    </div>

    <div class="row mx-4 pb-5">
        <div class="col-sm-1"></div>
        <div class="col-sm-4 bg-one">
            <p class="pt-2">ADDRESS</p>
            <p class="ps-1">Mouseitbeh</p>
            <p class="ps-1">
                Beirut, Next to LIU
                <br>
                Lebanon
            </p>
            <hr>
            <p class="small ps-1">
                +961-1-706881,2,3,4
                <br>
                +961-1-306044
                <br>
                horses@liu.edu.lb
            </p>
        </div>
        <div class="col-sm-6 bg-dark p-0">
            <img src="../../assets/images/maps.png" class="w-100" style="height: 300px; object-fit: cover;"
                alt="contactus">
        </div>
        <div class="col-sm-1"></div>
    </div>
</body>