<div class="container-fluid">
	<h3 class="display-3">Horses on Sale</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Born</th>
				<th>Gender</th>
				<th>Color</th>
				<th>Current Bid</th>
				<th>Max Bid</th>
				<th>Is Sold?</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let horse of horses">
				<td>{{horse.id}}</td>
				<td>{{horse.name}}</td>
				<td>{{horse.year}}</td>
				<td>{{horse.gender}}</td>
				<td>{{horse.color}}</td>
				<td>{{horse.currentBid}}</td>
				<td>{{horse.maxBid}}</td>
				<td>{{horse.isSold}}</td>
				<td><button class="btn btn-dark" (click)="setSold(horse.id)" *ngIf="!horse.isSold">Set as
						Sold</button>
				</td>
			</tr>
		</tbody>
	</table>

	<h3 class="display-3">Messages</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Subject</th>
				<th>Message</th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor="let message of messages">
				<td>{{message.id}}</td>
				<td>{{message.name}}</td>
				<td>{{message.email}}</td>
				<td>{{message.phone}}</td>
				<td>{{message.subject}}</td>
				<td>{{message.messageBody}}</td>
			</tr>
		</tbody>
	</table>
</div>